body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111927;
    background-image:
            radial-gradient(at 47% 33%, hsl(163, 65%, 41%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(218.18, 78%, 52%) 0, transparent 55%)
}
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    color: #09f114;
}
header {
    background-color: #070707;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(231, 14, 14, 0.1);
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav li {
    margin: 0 30px;
}
nav a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #d00535;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("galereya1.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}
.hero-content {
    flex: 1;
    padding-right: 40px;
}
.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 300px;
}
.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}
.cta {
    margin-left: 70px;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.cta:hover {
    background-color: #024da6;
}
.hero-image img {
    max-width: 400px;
    border-radius: 20%;
}
.about {
    padding: 80px 50px;
}
.about h2 {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-text {
    flex: 1;
    padding-right: 40px;
}
.about-text p {
    margin-bottom: 50px;
    text-align: center;
    margin-left: 30px;
}
.about-image img {
    max-width: 400px;
    height: auto;
    border-radius: 40px;
    margin-bottom: 90px;
    margin-right: 40px;
}
.portfolio {
    padding: 80px 50px;
    background-color: #273352;
    background-image:
            radial-gradient(at 47% 33%, hsl(163, 65%, 41%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(218.18, 78%, 52%) 0, transparent 55%)
}
.portfolio h2 {
    font-size: 30px;
    margin-bottom: 40px;
}
.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}
.portfolio-item img {
    transition: transform 0.4s ease-in-out; /* добавляем плавный переход */
}
.portfolio-item img:hover {
    box-shadow: 0 0 120px #14e09a; /* Зеленая тень при наведении */
}
.portfolio-item h3 {
    font-size: 20px;
    margin-top: 20px;
}
.portfolio-item p {
    margin-top: 10px;
}
.portfolio-link {
    display: inline-block;
    margin-top: 20px;
}
.contact h2 {
    font-size: 32px;
    margin-bottom: 40px;
}
.welcome-to-myport{
    color: #ffffff;
    margin-left: 70px;
}
.mainP{
    color: #ef3e3e;
    margin-left: 70px;
}
.order {
    height: 200px;
    background-color: #070707;
    border-radius: 30px;
    text-align: center; /* Размещение содержимого секции по центру */
}
button {
    background-color: #2584e3; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границы */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Изменение курсора при наведении */
    transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
}
button:hover {
    background-color: #0056b3; /* Новый цвет фона при наведении */
}
button a {
    color: inherit; /* Наследование цвета текста */
    text-decoration: none; /* Убираем подчеркивание ссылки */
}
button i {
    margin-right: 5px; /* Отступ между иконкой и текстом */
}
.order-text {
    text-align: center; /* Центрирование текста */
    background: linear-gradient(90deg, #12eeba, #b807e0); /* Градиентный фон */
    -webkit-background-clip: text; /* Определение области, которую следует закрасить градиентом */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
    margin-top: 0px; /* Отступ сверху */
}
.navMain {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30px; /* Добавляем отступ вниз */
}
.photo-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px; /* Высота секции */
    overflow-x: auto; /* Добавить горизонтальную прокрутку при необходимости */
}
.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Позволить элементам переноситься на новую строку */
    width: 100%; /* Ширина контейнера фотографий */
    max-width: 100%; /* Не позволить контейнеру быть шире родительского элемента */
}
.photo-wrapper img {
    height: 250px; /* Установить фиксированную высоту для изображений */
    width: auto; /* Автоматический расчет ширины на основе высоты */
    margin: 10px; /* Добавить небольшие отступы между изображениями */
    transition: box-shadow 0.3s; /* Анимация для тени */
}
.photo-wrapper img:hover {
    box-shadow: 0 0 120px #2acc8e; /* Зеленая тень при наведении */
}
.photo-wrapper img {
    transition: transform 0.5s ease-in-out; /* добавляем плавный переход */
}
.photo-wrapper img:hover {
    transform: scale(1.1); /* применяем эффект увеличения при наведении */
}
.parallax-section {
    height: 650px; /* Высота секции */
    background-image: url('paralaxMian.JPG'); /* Фоновое изображение */
    transform: translateZ(0);
    background-attachment: fixed; /* Фиксация фонового изображения */
    background-position: center;
    color: #ffffff; /* Цвет текста */
    text-align: center;
    padding: 100px 0px /* Внутренние отступы */
}
.parallax-content {
    position: relative;
    z-index: 1;
}
.contact-section {
    padding: 80px 20px;
    text-align: center;
    background-color: #050505;
}
.contact-section h2 {
    margin-bottom: 40px;
}
.contact-links {
    display: flex;
    justify-content: center;
}
.contact-links a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    color: #efe6e6;
    text-decoration: none;
    transition: color 0.3s;
}
.contact-links a:hover {
    color: #007bff;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #010711;
    background-image:
            radial-gradient(at 47% 33%, hsl(272, 93%, 63%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(351, 80%, 56%) 0, transparent 55%);
}
.sectionFooter1 {
    text-align: center;
    margin-bottom: 10px;
}

.sectionFooter1 h3 {
    margin-bottom: 5px;
    color: #000000;
}

.footer p {
    margin: 0;
    color: whitesmoke;
}
.instagram-container {
    background-color: #070707;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Распределение постов по ширине контейнера */
    width: 100%; /* Ширина контейнера по умолчанию */
    height: auto; /* Автоматическая высота, чтобы содержимое подстраивалось по высоте */
}
.instagram-post {
    width: calc(25% - 10px); /* Ширина каждого поста (по 5 постов в ряду) с учетом отступов */
    margin-bottom: 20px; /* Отступ между рядами */
}
.instagram-post iframe {
    width: 100%; /* Занимает всю доступную ширину внутри родительского контейнера */
    height: 550px; /* Автоматическая высота, чтобы сохранить пропорции */
}
@media screen and (max-width: 768px) {
    .instagram-post {
        width: calc(50% - 10px); /* Ширина каждого поста (по 2 поста в ряд) на меньших экранах */
    }
}
@media screen and (max-width: 768px) {
    img {
        max-width: 100%; /* Изображение будет занимать всю доступную ширину на меньших экранах */
        height: auto; /* Автоматически подстраивает высоту под измененную ширину */
    }
}
.youtube-container {
    color: black;
  background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.youtube-container iframe {
    color: black;
    background-color: black;
    margin-bottom: 20px;
}
